.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    padding: var(--space-4);
}

.logo {
    width: 150px;
}

.container {
    max-width: 460px;
    width: 100%;
}

.card {
    width: 100%;
}